@charset "utf-8";
/* This is a comment or remark */

body{
	padding: 0;
	margin: 0;
	background-color: LightSteelBlue;
}

#container {
	background: #C0C0C0;
	margin: 0 auto;
	padding: 20px;
}

#header {
	padding: 20px;
	height: 350px;
	background: #191970;
	text-align: match-parent;
	background-image: url("main_images.jpg");
	background-repeat: no-repeat;
	background-size: auto;
	background-size: 100% 100%;
}

h1{
	font-family: Arial, Helvetica, sans-serif;
	color: aliceblue;
	opacity: 1;
	text-decoration-line: underline;
}

p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 23px;
	color: aliceblue;
	opacity: 1;
}

#section-2 {
	width: auto;
	height: 300px;
	background-color: black;
	opacity: .6;
	padding-top: 40px;
	padding-right: 80px;
	padding-bottom: 10px;
	padding-left: 80px;
}

#main {
	height: 300px;
	background: #FFFFF0;
	text-align: match-parent;
	width: auto;
	margin: 20px 20px 20px 20px;
	display: flex;
	padding: 20px;
	justify-content: space-between;
}



.box1 {
	width: 80%;
	height: 250px;
	background-color: Gainsboro;
	background-size: 100% 100%;
	opacity:.8;
	padding: 20px;
}

p1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color:#000000;
}

h2{
	font-family: Arial, Helvetica, sans-serif;
	color:MidnightBlue;
	font-size: 23px;
	text-align:left;
	text-decoration-line: underline;
	opacity: 1;
}

h3{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	text-align:left;
	opacity: 1;
}

.box2 {
	width: 20%;
	height: 250px;
	background-image: url("img_article1.jpg");
	background-repeat: no-repeat;
	background-size: auto;
	background-size: 100% 100%;
	opacity: 1;
	padding: 20px;
}

#main2 {
	height: 300px;
	background: #FAFAD2;
	text-align: match-parent;
	width: auto;
	margin: 20px 20px 20px 20px;
	display: flex;
	padding: 20px;
	justify-content: space-between;
}

.box3 {
	width: 40%;
	height: 250px;
	background-image: url("img_article2.jpg");
	background-repeat: no-repeat;
	background-size: auto;
	background-size: 100% 100%;
	opacity: 1;
	padding: 20px;
}

.box4 {
	width: 60%;
	height: 250px;
	background-color: Gainsboro;
	background-size: 100% 100%;
	opacity:.8;
	padding: 20px;
}

#main3 {
	height: 300px;
	background: #FFFFF0;
	text-align: match-parent;
	width: auto;
	margin: 20px 20px 20px 20px;
	display: flex;
	padding: 20px;
	justify-content: space-between;
}

.box5 {
	width: 60%;
	height: 250px;
	background-color: Gainsboro;
	background-size: 100% 100%;
	opacity:.8;
	padding: 20px;
}

.box6 {
	width: 40%;
	height: 250px;
	background-image: url("ste-neon.jpg");
	background-repeat: no-repeat;
	background-size: auto;
	background-size: 100% 100%;
	opacity: 1;
	padding: 20px;
}

#main4 {
	height: 250px;
	background: #E0FFFF;
	text-align: match-parent;
	width: auto;
	margin: 20px 20px 20px 20px;
	display: flex;
	padding: 20px;
	justify-content: space-between;
}

.box7 {
	width: 80%;
	height: 200px;
	background-color: PaleTurquoise;
	background-size: 100% 100%;
	opacity:.8;
	padding: 20px;
}

h4{
	font-family: Arial, Helvetica, sans-serif;
	color:Indigo;
	font-size: 24px;
	text-align:left;
	text-decoration-line: underline;
	opacity: 1;
}

.box8 {
	width: 20%;
	height: 200px;
	background-image: url("adobe-photoshop-logo.jpg");
	background-repeat: no-repeat;
	background-size: auto;
	background-size: 100% 100%;
	opacity: 1;
	padding: 20px;
}

#footer  {
	background: #C0C0C0;
	height: 20px;
	margin: 0 auto;
	border: 1px solid #696969;
	padding: 20px;
}

.bottomnavi{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content:center;
	align-items:center;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

li {
	margin: 0 10px;
	color: MidnightBlue;
	font-size: 20px;
}

#navi {
	list-style: none;
	text-align: left;
}

.topnavi {
	text-align: left;
	word-spacing: 25px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
}

a {
	color: tomato;
	text-decoration: underline;
}



